.section_one {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section_one_div1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-black);
}

.section_one_div1 > p {
  font-weight: 300;
}

.section_one_div1 > h3 {
  font-size: 1.5rem;
}

.section_one_div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.section_one_div2 > h3 {
  text-align: center;
  font-size: 2rem;
  color: var(--color-black);
}

.section_one_div2_img {
  width: 100%;
}
