.section_four {
  color: var(--color-black);
}

.section_four > h3 {
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
}

.section_four_div1 {
  margin-top: 1.2rem;
  border: 3px solid #424d42;
  padding: 0.3rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.section_four_div1 > h4 {
  font-size: 1.5rem;
  font-weight: 800;
}

.section_four_div1 > p {
  font-weight: 400;
  font-size: 0.95rem;
}

.section_four_div2 {
  display: flex;
  justify-content: space-around;
  margin-top: 1.2rem;
  text-align: center;
}

.section_four_div2_div1,
.section_four_div2_div2,
.section_four_div2_div3,
.section_four_div2_div4 {
  border: 2px solid #424d42;
  width: 4rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  border-radius: 1rem;
  font-weight: 400;
}

.section_four_div3 {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem;
}

/* animation  */
/* Hiệu ứng 1: Chạy từ trái vào */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.section_four.active .animate-slide-left {
  animation: slideInLeft 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Hiệu ứng 2: Chạy từ phải vào */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.section_four.active .animate-slide-right {
  animation: slideInRight 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Hiệu ứng 3: Chạy từ trên xuống */
@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.section_four.active .animate-slide-top {
  animation: slideInTop 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Hiệu ứng 4: Chạy từ dưới lên */
@keyframes slideInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.section_four.active .animate-slide-bottom {
  animation: slideInBottom 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Hiệu ứng 5: Hiển thị nhỏ phóng to ra */
@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.section_four.active .animate-zoom-in {
  animation: zoomIn 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* end animation  */
