.section_five {
  color: var(--color-black);
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section_five > h3 {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.section_five_div1 {
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-template-rows: 1fr; /* Thêm dòng này */
  gap: 10px;
  align-items: stretch; /* Đảm bảo các cột kéo dài bằng nhau */
}

.section_five_div1_column1,
.section_five_div1_column2 {
  height: 100%;
}

.section_five_div1_column1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section_five_div1_column2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.section_five_div1_column1_row1 {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.section_five_div1_column1_row2_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section_five_div1_column2_row1_img,
.section_five_div1_column2_row2_img,
.section_five_div1_column2_row3_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------------------------- */

/* ----------------------- */
/* animation  */
/* Hiệu ứng 1: Chạy từ trái vào */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.section_five.active .animate-slide-left {
  animation: slideInLeft 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Hiệu ứng 2: Chạy từ phải vào */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.section_five.active .animate-slide-right {
  animation: slideInRight 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Hiệu ứng 3: Chạy từ trên xuống */
@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.section_five.active .animate-slide-top {
  animation: slideInTop 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Hiệu ứng 4: Chạy từ dưới lên */
@keyframes slideInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.section_five.active .animate-slide-bottom {
  animation: slideInBottom 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Hiệu ứng 5: Hiển thị nhỏ phóng to ra */
@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.section_five.active .animate-zoom-in {
  animation: zoomIn 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* end animation  */
