.section_two {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 40vw;
  margin: 0 auto;
  padding-top: 3rem;
}

.section_two_div1 {
  text-align: center;
  background: var(--color-light);
  color: var(--color-black);
}

.section_two_div1 > p {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.section_two_div2 {
  background: var(--color-light);
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section_two_div2_div1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 0rem;
}

.section_two_div2_div1_nam,
.section_two_div2_div1_nu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.9rem;
}

.section_two_div2_div1_nam > .address,
.section_two_div2_div1_nu > .address {
  font-size: 0.85rem;
  font-weight: 300;
}

.section_two_div2_2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 2rem;
}

.section_two_div2_2_name {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 2rem;
}

.section_two_div2_div1_nam_div1,
.section_two_div2_div1_nu_div1 {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-light);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info_family_man,
.info_family_woman {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
}

.section_two_div3 {
  display: flex;
  padding: 0.5rem;
  background: #424d42;
  height: 60vh;
  width: 100%;
  gap: 0.5rem;
  margin: 0 auto;
}

.section_two_div3_div1_nam_div1,
.section_two_div3_div1_nu_div1 {
  flex: 1;
  overflow: hidden;
}

.section_two_div3_div1_nam_img,
.section_two_div3_div1_nu_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
