.section_two {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 40vw;
  margin: 0 auto;
  padding-top: 3rem;
}

.section_two_div1 {
  /* border: 1px solid var(--color-light);
  padding: 0.8rem;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%; */

  text-align: center;
  background: var(--color-light);
  color: var(--color-black);
}

.section_two_div1 > p {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.section_two_div2 {
  background: var(--color-light);
  color: var(--color-black);
  /* padding: 0.6rem 0.8rem; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section_two_div2_div1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 0rem;
}

.section_two_div2_div1_nam,
.section_two_div2_div1_nu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.9rem;
}

.section_two_div2_div1_nam > .address,
.section_two_div2_div1_nu > .address {
  font-size: 0.85rem;
  font-weight: 300;
}

.section_two_div2_2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 2rem;
}

.section_two_div2_2_name {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 2rem;
}

.section_two_div2_div1_nam_div1,
.section_two_div2_div1_nu_div1 {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-light);
  /* border-radius: 50%; */
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info_family_man,
.info_family_woman {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
}

.section_two_div3 {
  display: flex;
  padding: 0.5rem;
  background: #424d42;
  height: 60vh;
  width: 100%;
  gap: 0.5rem;
  margin: 0 auto;
}

.section_two_div3_div1_nam_div1,
.section_two_div3_div1_nu_div1 {
  flex: 1;
  overflow: hidden;
}

.section_two_div3_div1_nam_img,
.section_two_div3_div1_nu_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* kết thúc khối 1 */

.section_two_div4 {
  background: var(--color-light);
  color: var(--color-black);
  padding: 0.6rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.section_two_div4 > .section_two_div4_div1 > h3 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
}

.section_two_div4_div2 {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.section_two_div4_div2_img1,
.section_two_div4_div2_img3 {
  width: 30%;
  height: 85%;
  object-fit: cover;
  flex-shrink: 0;
}

.section_two_div4_div2_img2 {
  width: 40%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.section_two_div4_div3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section_two_div4_div3 > h5,
.section_two_div4_div3 > p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 0.95rem;
}

.section_two_div4_div3_div1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr auto 1fr;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  padding: 1rem;
}

.time-col {
  font-size: 1.5rem;
  font-weight: bold;
  justify-self: end;
}

.vertical-divider {
  width: 1px;
  height: 100%;
  background-color: var(--color-black);
}

.date-col {
  margin: 0 auto;
  text-align: center;
  line-height: 1.4;
  justify-self: start;
  font-weight: 400;
  font-style: italic;
}

.year-col {
  font-size: 1.5rem;
  justify-self: start;
  font-weight: 900;
}

.img_calendar {
  width: 100%;
}
