/* font title  */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
/* font title vuông  */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
/* font poppin  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Biến kích thước màn hình */
  --mobile: 576px;
  --tablet: 768px;
  --desktop: 1200px;

  /* Biến màu chủ đạo */
  --primary-color: #ffffff;

  --color-light: #ffffff;
  --color-black: #000000;
  --color-red: #fc0a0a;

  /* Các biến hệ thống */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background: #ece8e1; */
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 3rem;
}

.title {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
}

main {
  max-width: var(--desktop);
  background: var(--primary-color);
  min-height: 100vh;
  color: var(--color-light);
  padding: 0rem;
  margin: 0 auto;
  border-radius: 0.5rem;
}

/* animation  */
/* Hiệu ứng 1: Chạy từ trái vào */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-left {
  animation: slideInLeft 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Hiệu ứng 2: Chạy từ phải vào */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-right {
  animation: slideInRight 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Hiệu ứng 3: Chạy từ trên xuống */
@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-top {
  animation: slideInTop 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Hiệu ứng 4: Chạy từ dưới lên */
@keyframes slideInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-bottom {
  animation: slideInBottom 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Hiệu ứng 5: Hiển thị nhỏ phóng to ra */
@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom-in {
  animation: zoomIn 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* end animation  */

@media (max-width: 1200px) {
  main {
    max-width: 90%;
    /* padding: 0.5rem; */
  }
}

@media (max-width: 768px) {
  main {
    max-width: 100%;
    /* padding: 0.3rem; */
  }
}

@media (max-width: 576px) {
  main {
    max-width: 100%;
    /* padding: 0.3rem; */
  }
}
