/* font section 1 */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
/* end section 1  */

:root {
  /* Biến kích thước màn hình */
  --mobile: 576px;
  --tablet: 768px;
  --desktop: 1200px;

  /* Biến màu chủ đạo */
  --primary-color: #752323;
  --secondary-color: #f4ede4; /* Màu kem */

  --color-light: #ffffff;
  --color-black: #000000;

  /* Các biến hệ thống */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  max-width: var(--desktop);
  background: var(--primary-color);
  min-height: 100vh;
  color: var(--color-light);
  padding: 1rem;
  margin: 0 auto;
  border-radius: 0.5rem;
}

@media (max-width: 1200px) {
  main {
    max-width: 95%;
    padding: 0.8rem;
  }
}

@media (max-width: 768px) {
  main {
    max-width: 95%;
    padding: 0.6rem;
  }
}

@media (max-width: 576px) {
  main {
    max-width: 95%;
    padding: 0.4rem;
  }
}
