.section_two_div4 {
  margin: 0 auto;
  background: var(--color-light);
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  /* padding-top: 3rem; */
}

.section_two_div4 > .section_two_div4_div1 > h3 {
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
}

.section_two_div4_div2 {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.section_two_div4_div2_img1,
.section_two_div4_div2_img3 {
  width: 30%;
  height: 85%;
  object-fit: cover;
  flex-shrink: 0;
}

.section_two_div4_div2_img2 {
  width: 40%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.section_two_div4_div3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section_two_div4_div3 > h5,
.section_two_div4_div3 > p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 0.95rem;
}

.section_two_div4_div3_div1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr auto 1fr;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  padding: 1rem;
}

.time-col {
  font-size: 1.5rem;
  font-weight: bold;
  justify-self: end;
}

.vertical-divider {
  width: 1px;
  height: 100%;
  background-color: var(--color-black);
}

.date-col {
  margin: 0 auto;
  text-align: center;
  line-height: 1.4;
  justify-self: start;
  font-weight: 400;
  font-style: italic;
}

.year-col {
  font-size: 1.5rem;
  justify-self: start;
  font-weight: 900;
}

.img_calendar {
  width: 100%;
}
