.section_three2 {
  color: #000;
}

.section_two_div4_div3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section_two_div4_div3 > h5,
.section_two_div4_div3 > p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 0.95rem;
}

.section_two_div4_div3_div1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr auto 1fr;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  padding: 1rem;
}

.time-col {
  font-size: 1.5rem;
  font-weight: bold;
  justify-self: end;
}

.vertical-divider {
  width: 1px;
  height: 100%;
  background-color: var(--color-black);
}

.date-col {
  margin: 0 auto;
  text-align: center;
  line-height: 1.4;
  justify-self: start;
  font-weight: 400;
  font-style: italic;
}

.year-col {
  font-size: 1.5rem;
  justify-self: start;
  font-weight: 900;
}

.img_calendar {
  width: 100%;
}

/* animation  */
/* Hiệu ứng 1: Chạy từ trái vào */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.section_three2.active .animate-slide-left {
  animation: slideInLeft 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Hiệu ứng 2: Chạy từ phải vào */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.section_three2.active .animate-slide-right {
  animation: slideInRight 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Hiệu ứng 3: Chạy từ trên xuống */
@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.section_three2.active .animate-slide-top {
  animation: slideInTop 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Hiệu ứng 4: Chạy từ dưới lên */
@keyframes slideInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.section_three2.active .animate-slide-bottom {
  animation: slideInBottom 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Hiệu ứng 5: Hiển thị nhỏ phóng to ra */
@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.section_three2.active .animate-zoom-in {
  animation: zoomIn 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* end animation  */
